<div class="container">
<app-zippy title="Shipping Address">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil totam iure adipisci ab ex molestias corrupti laboriosam ipsa sunt tenetur ullam, hic obcaecati impedit voluptatum culpa nostrum voluptatibus accusantium necessitatibus!
  </p>
  <p>
    Quasi quia, fuga natus error ipsam dolorum assumenda harum, consequuntur ratione aliquam sit ut quos vitae praesentium ad perferendis saepe nemo nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui ab perferendis nulla, reiciendis nostrum molestias esse officia hic excepturi voluptatibus placeat quae, porro distinctio aut expedita quibusdam modi officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ea voluptatum doloribus exercitationem nam veniam nemo, tempora distinctio nobis recusandae blanditiis dolorum omnis qui incidunt facilis deserunt! Excepturi, ea blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et corrupti magni eum aliquam consequatur, mollitia vero provident nobis sint reiciendis tempore, placeat iste quae? Tempore quasi doloribus possimus magni?
  </p>
</app-zippy>
<app-todos></app-todos>
</div>

<router-outlet></router-outlet>